p.ul
{
    border:2px solid purple;
    padding: .5em;
}

li
{
    border: 2px solid blue;
    padding: .5em;
}

.block
{
    border: 2px solid red;
}

ul{
    display: flex;
    list-style-type: none;
}
li
{
    margin: 0px 10px;
}
.block
{
    display: block;
}
li:hover
{
    background-color: gray;
    opacity: 30%;
}