body
{
    text-align:center;
}
img
{
    width: 200px;
    height: 200px;
}
.main_body
{
    background-color: bisque;
    border: 1px solid black;
    height:250px;
}
.left_side
{
    position: relative;
    float:left;
    width:620px;
    height:150px;
    /*border: 1px solid black;*/
}
.right_side
{
    position: relative;
    float:right;
    width:620px;
    height:150px;
    /*border: 1px solid black;*/
}